//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.hods-page,
#story-root,
#root,
body,
html {
  background-color: #ffffff !important;
  color: #0b0c0c;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}