{% extends "layout.html" %}

{% block pageTitle %}
  403 error
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, we cannot authorise you to use this service - error 403 
      </h1>


     
      <p>    The IT admin or team where you work should be able to support you, so contact them if possible. </p>
    

        <p>If you cannot contact them right now, there are some things you can try.</p> 
<br>

        <h2 class="govuk-heading-m">Clear your cookies</h2>
        <p>Sometimes cookies can stop you from accessing a website. Clearing them can often resolve the problem. </p>
        
        <article class="moj-ticket-panel" aria-label="Sub navigation 1">

          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
   
            <p class="govuk-body"> Use this button to clear your cookies and go back to the start page. You should then be able to access the SR1 service. 
              
              <br>
              <br>
              
              If you get this error message again, try another suggestion on this page.</p>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Clear your cookies
            </button>
          </section>
        
        </article>
        
        <br>


     
          <h2 class="govuk-heading-m">Use a different browser</h2>
          <p>If you’re using Microsoft Edge, try accessing the SR1 service using Google Chrome. To open Chrome, go to your device's start menu and look for the Chrome logo. </p>
          


          <h2 class="govuk-heading-m">Check your role is authorised</h2>

   

      <p>Only these job roles are authorised to complete an SR1 form:</p>

      
<ul class="govuk-list govuk-list--bullet">
  <li>GP</li>
  <li>hospital consultant</li>
  <li>specialty doctor</li>
  <li>hospice doctor</li>
  <li>senior specialist nurse (such as a clinical nurse specialist, advanced nurse practitioner or similar)</li>

</ul>
<p>Your job role is checked against the job role on your NHS smartcard. If you should have access to this service, make sure your smartcard is correct. If it’s wrong, your IT support team will be able to help.</p>
<p>If you do not have an account to log incidents with the <a href="https://www.nhscfhservicedesk.nhs.uk%5D,">NHS National Service Desk</a> call 0300 303 5035.</p>

<h2 class="govuk-heading-m">If you still cannot log on to the SR1 service</h2>

<p>You can complete PDF versions of the SR1 and the fee claim forms online. They do not need to be signed, but you’ll need to return them to us from a secure email address. Any email that does not come from a secure email address will be automatically deleted.</p>

<p>Secure email addresses end in:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><kbd>@nhs.net</kbd></li>
  <li><kbd>@nhs.uk</kbd></li>
  <li><kbd>@nhs.scot</kbd></li>
  <li><kbd>@nhs.wales.uk</kbd></li>
  <li><kbd>@gov.uk</kbd></li> 
  </ul>

<p>Send the request for a PDF version of the SR1 form, and fee claim form if needed, from your secure email address to <a href="#">form.e-sr1@dwp.gov.uk.</a></p>
<p>Please include your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>surgery /hospital /postal address</li>
  <li>phone number</li>

 
</ul>

<p>Do not encrypt any part of this email.</p>

      {% endblock %}
