{% extends "layout.html" %}

{% block pageTitle %}
Sorry, we cannot authorise you to use this service - Send an SR1 - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Sorry, we cannot authorise you to use this service - error 403
      </h1>

   
      <p>We have not been able to authenticate you on the SR1 service. </p>
      <p>This could be because the link you used was incorrect or out of date.</p>
      
     <p>[link] Launch the SR1 service </p>
  
        
    <p> If you still cannot access this service, you can contact the <a href="https://www.nhscfhservicedesk.nhs.uk%5D,">NHS National Service Desk</a>. If you're not registere with the NHS Helpdesk, you should call 0300 303 5035.</p>

<h2 class="govuk-heading-m">What you can do if the problem continues</h2>

<p>You can complete PDF versions of the SR1 and the fee claim forms online. They do not need to be signed, but you’ll need to return them to us from a secure email address. Any email that does not come from a secure email address will be automatically deleted.</p>

<p>Secure email addresses end in:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><kbd>@nhs.net</kbd></li>
  <li><kbd>@nhs.uk</kbd></li>
  <li><kbd>@nhs.scot</kbd></li>
  <li><kbd>@nhs.wales.uk</kbd></li>
  <li><kbd>@gov.uk</kbd></li> 
  </ul>

<p>Send the request for a PDF version of the SR1 form, and fee claim form if needed, from your secure email address to <a href="#">form.e-sr1@dwp.gov.uk.</a></p>
<p>Please include your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>surgery /hospital/ postal address</li>
  <li>phone number</li>

 
</ul>



<p>Do not encrypt any part of the email.</p>


{% endblock %}
