{% extends "layout.html" %}

{% block pageTitle %}
The SR1 service is no longer available - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The SR1 service is no longer available </h1>

   

      <p></p>
       <p> You should use the new <a href="#">Send an SR1 medical evidence form</a> instead.</p>
        <p>Any bookmarks you have made to this service will no longer work and should be deleted.</p>
        
      
{% endblock %}
