{% extends "layout.html" %}

{% block pageTitle %}
The SR1 service has been replaced - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      The SR1 service is no longer available </h1>

   

        <p> You should use the <a href="#">Send an SR1 medical evidence form</a> instead.</p>
        <p>Any bookmarks you have made to this service will no longer work and should be deleted.</p>
        
        <h2 class="govuk-heading-m">If you do not want to use the digital service</h2>

        <p>You can complete PDF versions of the SR1 and the fee claim forms online. They do not need to be signed, but you’ll need to return them to us from a secure email address. Any email that does not come from a secure email address will be automatically deleted.</p>
        
        <p>Secure email addresses end in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><kbd>@nhs.net</kbd></li>
          <li><kbd>@nhs.uk</kbd></li>
          <li><kbd>@nhs.scot</kbd></li>
          <li><kbd>@nhs.wales.uk</kbd></li>
          <li><kbd>@gov.uk</kbd></li> 
          </ul>
        
        <p>Send the request for a PDF version of the SR1 form, and fee claim form if needed, from your secure email address to <a href="#">form.e-sr1@dwp.gov.uk.</a></p>
        <p>Please include your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>surgery /hospital/ postal address</li>
          <li>phone number</li>
        
         
        </ul>
{% endblock %}
